.customizeaudience, .audiencerange {
    text-align: center;
    margin-top: 2rem;
}

.customizeaudience-logo {
    animation: customizeaudience-logo-spin infinite 20s linear;
    height: 40vmin;
}

.customizeaudience-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.customizeaudience-link {
    color: #61dafb;
}

@keyframes customizeaudience-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
