.selectaudince {
    text-align: center;
    padding-top: 2rem;
}

.selectaudince-logo {
    animation: selectaudince-logo-spin infinite 20s linear;
    height: 40vmin;
}

.selectaudince-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.selectaudince-link {
    color: #61dafb;
}

@keyframes selectaudince-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
/*
span{
    color: rgba(0, 0, 0, 0.54) !important;
}
*/
