.tabbar {
    text-align: center;
}
.MuiPrivateTabScrollButton-root-206,.MuiPrivateTabScrollButton-root-205 {
    flex: 4 0 56px !important;
    color: inherit;
}
/*
span{
    font-weight: 500!important;
    color: rgba(122, 119, 119, 0.87) ;
}*/
