.tabbar {
    text-align: center;
}
.MuiTabScrollButton-root-205 {
    flex: 0 0 145px !important;
    color: inherit;
}
/*
span{
    font-weight: 500!important;
    color: rgba(122, 119, 119, 0.87) ;
}*/
