.addimage {
    text-align: center;
    padding-top: 6rem;
}
.color{
    color: rgba(0, 0, 0, 0.54) !important;
    fontweight:'500' !important;
}

.addimage-logo {
    animation: addimage-logo-spin infinite 20s linear;
    height: 40vmin;
}

.addimage-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.addimage-link {
    color: #61dafb;
}

@keyframes addimage-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
/*
.MuiInput-underline-232:hover:not(.MuiInput-disabled-231):not(.MuiInput-focused-230):not(.MuiInput-error-233):before{
    border-bottom: 1px solid gray !important;
}
.MuiInputBase-input-251{
    padding: 6px 16px 7px !important;
}
*/
.MuiInput-underline-237:after{
    border-bottom: 0px solid #303f9f !important;
}
.MuiInput-underline-237:before{
    border-bottom: 0px solid #303f9f !important;
}
.minwidth{
    min-width: 50px !important;
    padding: 8px 10px !important;
}